<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Export</title>
</head>
<body>
    <h1>Bulletin de {{ name }} (Trimestre {{ trimester }})</h1>
    <table>
        <thead>
            <tr>
                <th>Matière</th>
                <th>Moyenne</th>
                <th>Appréciation</th>
            </tr>
        </thead>

        <tbody>
            {% for key, value in grades %}
                <tr>
                    <th>{{ key }}</th>
                    <td>{{ value }}</td>
                    <td>{{ appreciations[key] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    Moyenne générale : {{ average }}
</body>
</html>