{% extends 'base.html.twig' %}

{% block title %}{{ student.username }}{% endblock %}

{% block body %}

<div>
    <h1>{{ student.username }}</h1>

    {% for i in 1..3 %}
        {% if i != trimester %}
            <div>
                <h2>Trimestre {{ i }}</h2>
                {% for subject in subjects %}
                    <a href="{{ url('view_student', {'id': student.id, 'subjectID': subject.id, 'trimester': i}) }}">{{ subject.name }} {{ app.user.subject and subject.id == app.user.subject.id ? "(Votre matière)" }}</a>
                {% endfor %}
            </div>
        {% endif %}
    {% endfor %}

    <table>
        <thead>
            <tr>
                <th>Date</th>
                <th>Note</th>
                {% if "ROLE_ADMIN" in app.user.roles or currentSubject == app.user.subject %}
                    <th>Action</th>
                {% endif %}
            </tr>
        </thead>

        <tbody>
            {% for grade in grades %}
                <tr>
                    <th>
                        {{ grade.date | date("d/m/Y") }}
                    </th>
                    <td>
                        {{ grade.value }}
                    </td>
                    {% if "ROLE_ADMIN" in app.user.roles or ("ROLE_TEACHER" in app.user.roles and currentSubject == app.user.subject) %}
                        <td>
                            <a href="{{ url('edit_grade', {'id': grade.id, 'trimester': trimester}) }}">Modifier</a>
                            <button id="{{ grade.id }}" class="delete">Supprimer</button>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div>
        Moyenne de l'élève dans cette matière : {{ average }}
    </div>

    <div>
        <h3>Appréciations par trimestre</h3>
        <table>
            <thead>
                <tr>
                    <th>Trimestre</th>
                    <th>Appréciation</th>
                    {% if "ROLE_STUDENT" not in app.user.roles %}
                        <th>Actions</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for a in appreciations %}
                    <tr>
                        <th>
                            {{ a.trimester }}
                        </th>
                        <td>
                            {{ a.text }}
                        </td>
                        {% if "ROLE_STUDENT" not in app.user.roles %}
                            <td>
                                <a href="{{ url('edit_app', {'id': a.id, 'trimester': trimester}) }}">Modifier</a>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <canvas id="chart" style="width:100%; height:400px;"></canvas>

    {% if "ROLE_ADMIN" in app.user.roles or ("ROLE_TEACHER" in app.user.roles and currentSubject.id == app.user.subject.id) %}
        <div>
            Ajouter une note
            
            {{ form(gradeForm) }}
        </div>
    {% endif %}
</div>

{% if "ROLE_ADMIN" in app.user.roles or "ROLE_TEACHER" in app.user.roles %}
    <div>
        <a href="{{ url('export_student', {'id': student.id, 'trimester': trimester}) }}">Générer bulletin</a>
    </div>
{% endif %}

{% if "ROLE_STUDENT" not in app.user.roles %}
    <div id="modal" hidden>
        Êtes-vous sûr de vouloir supprimer cette note ?
        <button id="delete_yes">Oui</button>
        <button id="delete_no">Non</button>
    </div>
{% endif %}

<script>
    const xValues =
    [
        {% for grade in grades %}
            "{{ grade.date | date("d/m/Y") }}",
        {% endfor %}
    ];

    const yValues =
    [
        {% for grade in grades %}
            {{ grade.value }},
        {% endfor %}
    ];
    
    const ctx = document.getElementById("chart").getContext("2d");
    const myChart = new Chart(ctx,
    {
        type: "line",
        data:
        {
            labels: xValues,
            datasets:
            [{
                label: "{{ currentSubject.name }}",
                fill: false,
                lineTension: 0,
                backgroundColor: "rgba(0,0,255,1.0)",
                borderColor: "rgba(0,0,255,0.1)",
                data: yValues
            }]
        },
        options:
        {
            responsive: true,
            scales:
            {
                yAxes:
                [{
                    ticks:
                    {
                        min: 0,
                        max: 20
                    }
                }]
            }
        }
    });

    /////////////////////////////////////////////////////////////

    const buttons_delete = Array.from(document.getElementsByClassName("delete"));
    const modal = document.getElementById("modal");
    let idDelete;

    buttons_delete.map((b) =>
    {
        b.addEventListener("click", () =>
        {
            idDelete = b.id;
            modal.hidden = false;
        });
    });

    document.getElementById("delete_yes").addEventListener("click", () =>
    {
        window.location.href = "/grades/delete/" + idDelete;
    });

    document.getElementById("delete_no").addEventListener("click", () =>
    {
        modal.hidden = true;
    });
</script>

{% endblock %}
