{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur votre dashboard {{ app.user.username }} !{% endblock %}

{% block body %}

<div>
    <h1>Bienvenue sur votre dashboard {{ app.user.username }} !</h1>

    <div>
        {% if "ROLE_TEACHER" in app.user.roles %}
            <h2>Vos classes</h2>

            <ul>
                {% for class in app.user.schoolClasses %}
                    <li>
                        <div>
                            {{ class.name }}
                            <a href="{{ url('view_schoolclass', {'id': class.id, 'trimester': 1}) }}">Trimestre 1</a>
                            <a href="{{ url('view_schoolclass', {'id': class.id, 'trimester': 2}) }}">Trimestre 2</a>
                            <a href="{{ url('view_schoolclass', {'id': class.id, 'trimester': 3}) }}">Trimestre 3</a>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        {% elseif "ROLE_STUDENT" in app.user.roles %}
            <h2>Vous êtes en {{ app.user.class.name }}</h2>
            <h2>Vos moyennes</h2>
            <ul>
                {% for key, value in averages %}
                    <li>{{ key }}: {{ value }}</li>
                {% endfor %}
            </ul>
            <h2>Vos enseignants</h2>
            <ul>
                {% for key, value in teachers %}
                    <li>{{ key }}: {{ value }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
</div>

{% endblock %}
